*{
    box-sizing: border-box; /*selector universal*/
}
main{
    width: 1366px;
    height: 2000px;
    background-color: rgb(115, 18, 115);
    margin: 0 auto;
}
header{
    background-image: url(../imagenes/wallpaper9.png);
    background-size: cover;
    width: 1366px;
    height: 400px;background-color: rgb(108, 109, 154);
    text-align: center;
}
.logo{
    margin-left: 30px;    
    text-align: center;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(198, 94, 94);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    line-height: 50px;
    align-items: center;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    /*line-height:50px;*/
}
section{
    width: 1366px;
    height: 1500px;
    background-color: rgb(115, 18, 115);
}
.personaje{
    width: 1300px;
    height: 350px;
    background-color: rgb(115, 18, 115);
    margin-left: 33px;
    margin-top: 20px;
}
.foto{
    width: 400px;
    height: 350px;
    background-color: yellowgreen;
    float: left;
    margin-left: 33px;
}
.foto img{
    height: 100%;
}
.texto{
    width: 800px;
    height: 350px;
    background-color: rgb(213, 191, 229);
    float: left;
    margin-left: 33px;
    padding: 20px;
}
footer{
    width: 1366px;
    height: 250px;
    background-color: black;
}